//Colores
$verde: #4CB8B3;
$verde-oscuro: #099992;
$rosa: #F53756;
$amarillo: #FEF46D;
$amarillo-oscuro: #fff134;
$morado: #752f97;
$negro: #000;
$blanco: #fff;
//Tipografia
$fuente_principal: 'Montserrat',
sans-serif;
//MediaQuerys
$phone: 480px;
$tablet: 768px;
$desktop: 998px;
$desktopXL: 1200px;